html{
    background-image:url(healthyFood.jpeg);
    background-size:cover;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #acbda1;
    padding: 20px;
}
#title_img{
    width: 28px;
    height: 28px;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.home-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    text-align: center;
}

.home-screen h1 {
    font-size: 48px;
    margin: 20px 0 10px;
}

.home-screen p {
    font-size: 24px;
    color: #555;
    margin: 10px 0 20px;
}

.home-screen img {
    max-width: 100%;
    height: auto;
}
table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin: 0 auto;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
td{
    background-color: #ffffff;
}
/* Styling for the nutrition section */
.nutrition {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #000000; /* Dark gray color */
    padding: 20px; /* Add padding */
    border: 2px solid #fff; /* Add border */
    border-radius: 10px; /* Add border radius */
    background-color: #f9f9f9; /* Add background color */
}

#tips {
    padding: 20px;
    background-color: #f9f9f9; /* Light gray background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    text-align: center; /* Center the content */
    margin: 0 auto; /* Center horizontally */
    max-width: 600px; /* Limit the maximum width */
}

/* Styling for the sub-section heading */
.sub-section {
    font-size: 20px;
    margin-bottom: 15px;
    color: #000000; /* Dark gray color */
}

/* Styling for the diet tips */
.diet-tips p {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #777; /* Light gray color */
}
.centered{
    align-items: center;
}
